
.nib-search {
  position: absolute;
  right: 0px;
  top: 38px;
  .search-box {
		width: 280px;
}

//Search text input
.gsc-search-box .gsc-input-box {
	border: 1px #aaa solid; 
	border-right: none;
	border-radius: 2px 0 0 2px;
	height: 29px;
}

// Search button
.gsc-search-button input.gsc-search-button {
	border: 1px #aaa solid; 
	border-radius: 0 2px 2px 0;
	margin-left: 0;
	margin-top: 0;
	background: #aaa;
  background: linear-gradient(to bottom, #bbb 0%, #aaa 100%);
  padding: 8px 20px;
  &:hover {
  	background: #aaa;
  	background: linear-gradient(to bottom, #bbb 0%, #aaa 100%);
  }
  &:active,
  &:focus {
  	background: #999;
		background: linear-gradient(to bottom, #aaa 0%, #999 100%);
  }
}

.search-box{
	.gsst_a {
	  padding-top: 8px;
	}
	.gsib_a {
  padding-top: 3px;
}
